<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
    </head>
    <body>
    &nbsp;&nbsp;&nbsp;<h1>&nbsp;&nbsp;&nbsp;My Todo List</h1>
    <ul>
    <% var _list = JSON.stringify(object_arr)
    _list = JSON.parse(_list)
    %>
    <% for(var i=0;i<_list.length;i++) {%>
        <li><a href="/todo/<%= i%>"><%= _list[i]["title"]%></a> &nbsp;   <% if(_list[i]["date"]!="" &&_list[i]["finish"]==false){%>마감일 : <%= _list[i]["date"]%><%}%><% if(_list[i]["finish"]==true){%>(완료)<%}%></li>
    <% }
    %>
    </ul>
    <br><a href="todo_add">추가하기</a>
    <%
    if(overcheck == true){
    %>
    <script type="text/javascript">
        alert('마감기한이 지난 TODO가 '+ <%= number %>+'개 있습니다.');
    </script>
    <%
    }
    %>
    </body>
</html>